```css
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(164, 0, 0);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(249, 121, 121);
    padding: 20px;
}

h1 {
    text-align: left;
    margin-bottom: 30px;
}

h2 {
    margin: 25px 0 10px;
    font-size: 20px;
}

p {
    margin-bottom: 10px;
}

.palco {
    width: 100%;
    max-width: 500px;
    height: 220px;
    background-color: rgb(227, 13, 13);
    border: 3px solid #db1313;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.caixa {
    width: 70px;
    height: 70px;
    background-color: #540404;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: absolute;
    top: 10px;
    left: 10px;
}

/* 1. Movimento vertical */
.vertical {
    animation: vertical 3s infinite alternate ease-in-out;
}

@keyframes vertical {
    from {
        top: 10px;
    }

    to {
        top: 140px;
    }
}

/* 2. Movimento horizontal */
.horizontal {
    animation: horizontal 3s infinite alternate ease-in-out;
}

@keyframes horizontal {
    from {
        left: 10px;
    }

    to {
        left: 410px;
    }
}

/* 3. Movimento diagonal */
.diagonal {
    animation: diagonal 3s infinite alternate ease-in-out;
}

@keyframes diagonal {
    from {
        top: 10px;
        left: 10px;
    }

    to {
        top: 140px;
        left: 410px;
    }
}

/* 4. Velocidade e repetição */
.velocidade {
    animation: horizontal 5s infinite alternate ease-in-out;
}

/* 5. Animação em etapas */
.etapas {
    animation: etapas 4s infinite alternate ease-in-out;
}

@keyframes etapas {
    0% {
        top: 10px;
        left: 10px;
        background-color: #970b0b;
    }

    50% {
        top: 140px;
        left: 200px;
        background-color: #e74c3c;
    }

    100% {
        top: 10px;
        left: 10px;
        background-color: #8f0909;
    }
}

/* 6. Hover */
.interativa:hover {
    background-color: #cc2e60;
}

/* 7. Pausar animação */
.caixa:hover {
    animation-play-state: paused;
}

/* 8. Active */
.interativa:active {
    background-color: #f29808;
    transform: scale(0.85);
}

/* 9. Focus-visible */
.caixa:focus-visible {
    outline: 4px solid #9b59b6;
    outline-offset: 4px;
}

/* Desafio extra */
.desafio {
    animation: desafio 4s infinite alternate ease-in-out;
}

@keyframes desafio {
    0% {
        top: 10px;
        left: 10px;
        transform: scale(1);
        background-color: #7f2020;
    }

    50% {
        top: 140px;
        left: 200px;
        transform: scale(1.3);
        background-color: #e74c3c;
    }

    100% {
        top: 10px;
        left: 10px;
        transform: scale(1);
        background-color: #811717;
    }
}
